.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 1em;
}

.logo {
    font-size: 2em;
    font-weight: 300;
}

.theme-sel {
   position: absolute;
   display: flex;
   align-items: center;
   top: .5em;
   right: 0;
}

.theme-sel ion-icon {
    font-size: .8em;
}

.theme-sel span {
    font-size: .7em;
    padding-left: 3px;
}

/* Hamburger Menu */
.menu-toggle {
    padding: .5em 0;
    cursor: pointer;
    position: absolute;
    top: 2.95em;
    right: 0;
    z-index: 1000;
}

.hambuger {
    display: block;
    position: relative;
    z-index: 1000;
}

.hambuger,
.hambuger::before,
.hambuger::after {
    width: 2em;
    height: 3px;
    background-color: var(--text);
    border-radius: 1em;
    transition: transform 250ms ease-in;
}

.hambuger::before,
.hambuger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hambuger::before {
    top: 6px;
}

.hambuger::after {
    bottom: 6px;
}


@media screen and (min-width: 800px) {
    .logo {
        font-size: 2.25em;
    }

    .mobile-menu {
        display: none;
    }
    
}
