.hero-section {
    margin-top: 7em;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hero-img {
    width: 400px;
}

.hero-img img {
    width: 100%;
}

.hero-info {
    width: 800px;
    
}

.hero-info p {
    font-size: 4em;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0;
}