

.lookbook-section h3 {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
}

.lookbook-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.lookbook {
    /* width: 400px; */
    cursor: pointer;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.lookbook img {
    width: 100%;
    display: block;
}

